div(ng-show="release")
  div(class='row')
    div(class='col-sm-10')
      h1 {{release.name}}
      p(ng-show='release.releaseDate')
        Release date: {{ release.releaseDate | date:'fullDate'  }}
    div(class='col-sm-2')
      a(href='/release/{{release.$id}}/edit', class="btn btn-primary") Edit Release
  hr
  div(class='row')
    div(class='col-sm-2') Tickets in release: {{release.tickets.length}}
    div(class='col-sm-3')
      button(ng-click='openTicketModal()', class='btn btn-default') Add Ticket
  hr
  div(class='row', ng-repeat-start='ticket in release.tickets')
    div(class='col-sm-1')
      a(href='http://phab.dev.ebuyer.com/{{ticket.ticketId}}') {{ticket.ticketId}}
    div(class='col-sm-1') Diffs - {{ticket.diffs.length}}
    div(class='col-sm-3')
      | &nbsp;{{ticket.description.dev}}
    div(class='col-sm-1')
      | &nbsp;{{ticket.owner}}
    br
  div(class='row')
    div(class='col-sm-3 col-sm-offset-1')
      span(ng-show='ticket.description.business') {{ticket.description.business}}
  div(class='row', ng-repeat='diff in ticket.diffs')
    div(class='col-sm-1', ng-if='$first') Diffs
    div(class='col-sm-1', ng-if='$first')
      button(ng-click='openDiffModal(ticket)', class='btn btn-default') Add Diff
    div(class='col-sm-2', ng-class="!$first ? 'col-sm-offset-2' : ''")
      a(href='http://phab.dev.ebuyer.com/{{diff.diffId}}') {{diff.diffId}}
    div(class='col-sm-2')
      span(ng-show='diff.repo') - {{diff.repo}}
  div(class='row', ng-show='!ticket.diffs.length')
    div(class='col-sm-1') Diffs
    div(class='col-sm-1')
      button(ng-click='openDiffModal(ticket)', class='btn btn-default') Add Diff
  hr(ng-repeat-end)
div(ng-hide="release")
  h1 This release doesn't exist
