div(class='modal-header')
  h3(class='modal-title') Remove {{ ticket.ticketId }} from release?

div(class='modal-body')
  p Are you sure?
div(class='modal-footer')
  button(
    type='button',
    class='btn btn-danger',
    ng-click='submit()'
  ) Remove {{ticket.ticketId}}
  button(class='btn btn-default', type='button', ng-click='cancel()') Cancel
